* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background-color: #000;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}
menu {
    display: none;
    position: absolute;
    width: 200px;
    padding: 25px;
    background-color: #fff;
    border-radius: 2px;
}
menu.open {
    display: block;
}
menu li {
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.3em;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    list-style-type: none;
    user-select: none;
    transition: .2s all ease-out;
}
menu li:first-child {
    border-top: 1px solid #ddd;
}