* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background-color: #000;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}